langchain
sentence-transformers 
nltk 
pypdf
transformers
dash
dash-bootstrap-components
dash-html-components
torch
numpy
colorama
dotenv
langchain_community
langchain_huggingface
hf_xet
langchain_chroma
